@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESETS */

*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

ul, ol, li {
  list-style-type: none;
}

/*
  END OF RESETS
*/

:root {
  --color-primary: #0A3871;
  --color-secondary: #495057;
  --color-tertiary: #343A40;
  --font-main: "Inter", sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: #e5e5e5;
}

header {
  margin: 40px 84px;
}

main {
  margin: 40px 240px 40px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.text {
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-input {
  display: grid;
}

.textarea {
  display: block;
  resize: none;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-family: var(--font-main);
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-primary);
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: var(--color-primary);
}

.text-note-warn {
  display: flex;
  gap: 8px;
  color: var(--color-secondary);
}

.button-group {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

button {
  height: 67px;
  border-radius: 24px;
  transition-duration: 0.1s;
}

button:hover {
  cursor: pointer;
}

.encrypt {
  border-style: none;
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
}

.decrypt, .output-button-copy {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 16px;
}

.encrypt:hover {
  background-color: #2567b8;
}

.decrypt:hover {
  background-color: #c8e1ff;
}

.output {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 32px;
  margin-bottom: 40px;
  width: 400px;
  padding: 32px;
  box-shadow: 0 24px 32px -8px #00000015;
}

.output-title {
  text-align: center;
  font-size: 1.5rem;
}

.output-text {
  text-align: center;
  color: var(--color-secondary);
}

.output-button-copy {
  background-color: #ffffff;
}

@media screen and (min-width: 780px) and (max-width: 1024px) {

  header {
    margin: 73.42px 40px;
  }

  main {   
    margin: 0 40px;
  }

  .text {
    margin-top: 116px;
  }

  .text-input {
    min-height: 30vh;
    margin-bottom: 342px;
  }


  .button-group {
    flex-direction: row ;
    gap: 24px;
    margin-bottom: 64px;
  }

  .button-group>button {
    width: 50%;
  }

  .output-text {
    font-size: 1.5rem;   
  }

}

@media screen and (max-width: 780px) {
  
  header {
    margin: 24px 16px;
  }

  main {
    margin: 0 16px;
  }

  .text {
    margin-top: 56px;
  }

  .text-input {
    min-height: 30vh;
    margin-bottom: 64px;
  }

  .button-group {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;
  }

  button {
    width: 100%;
  }

}